<!DOCTYPE html>
<html>
<!-- Homework 1 -->

<!-- This is the head -->
<!-- All styles and javascript go inside the head -->
    <head>
        <meta charset="utf-8" />
        <title> Homework 4: History of Video Games Redo</title>
        <link rel="stylesheet" href="css/styles.css" />
        <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    </head>
<!-- closing head -->

    <!-- This is the body -->
    <!-- This is where we place the content of our website -->
    <body>
        
        <header>
            <hl> History of Video Games </hl>
        </header>
         <nav>
            <hr width="50%"/>
            <a href="/">Home</a>
            <a href="/goldenage">Golden Age</a>
            <a href="/eightnine">1980's and 90's</a>
            <a href="/twothousands">2000's</a>
        </nav>
        
        <br /><br />