<%- include('partials/header.ejs') %>
        <main>
            
            <figure id="me">
                <img src="img/vgtitle.jpg" alt="Video Game Title"/>
            </figure>
            
            <div id="welcomeText">
                
                <p>Welcome!</p>
                
                <p>For my CST 336 homework I decided to write about the history of videos games. </p>
                
                <p>Above are some links to differents eras of video games, check them out!</p>
                
                
            </div>
            
            
        </main>
<%- include('partials/footer.ejs') %> 